fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
scikit-learn==1.5.2
pandas==2.2.3
joblib==1.4.2
numpy==2.0.2
matplotlib==3.9.4
imbalanced-learn==0.12.4
python-dotenv==1.0.0
slowapi==0.1.9
PyMySQL==1.1.0
shap==0.46.0
passlib==1.7.4
bcrypt==4.1.2
PyJWT==2.8.0
sqlalchemy==2.0.23
cachetools==5.3.1
requests==2.31.0
